body {
  background-color: #d5ebe9;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
section {
  padding: 100px;
}
/**Header**/
header {
  margin-top: -10px;
  margin-bottom: 100px;
  color: #111111;
  position: fixed;
  background-color: #81ecec;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
/**header.sticky {
  background-color: #81ecec;
  color: #111;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}**/
.row1 img {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}
.row1 {
  text-align: center;
  padding-bottom: 50px;
}
.row1 h1 {
  text-align: center;
  margin-top: auto;
  font-size: 40px;
  padding-top: 20px;
}
.row1 p {
  text-align: center;
  margin-top: -35px;
  font-size: 22px;
  padding-top: 15px;
}
.menu-bar {
  padding: 0px;
  margin-top: -65px;
  text-align: center;
  margin-left: 130px;
}
.menu-bar ul {
  list-style: none;
  display: flex;
  position: relative;
  margin-right: 150px;
}
.menu-bar ul li {
  position: relative;
  list-style: none;
  width: 120px;
  height: 25px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  margin-right: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #be2edd;
  display: block;
  transition: 0.5ms;
}
.menu-bar ul li a:hover {
  color: #06eb12;
  background: #0a0a0a;
  border-radius: 15px;
}
/**contact**/
.newsletter {
  padding-bottom: 395px;
  background-color: #e4bad4;
  margin: 155px -10px 0px -10px;
}
.newsletter .column {
  float: left;
  width: 25%;
  margin-top: -15px;
}
.folios {
  margin-top: 30px;
  margin-left: 150px;
}
.folios h4 {
  font-size: 25px;
}
.folios ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: -25px;
}
.folios ul li {
  line-height: 35px;
}
.folios ul li a {
  text-decoration: none;
  text-align: left;
  color: #000000;
}
.contact {
  margin-top: 30px;
  margin-left: -150px;
}
.contact h4 {
  font-size: 25px;
  margin-left: 65px;
}
.contact p {
  font-size: 15px;
  margin-left: 67px;
  margin-top: -37px;
}
.contact .p2 {
  font-size: 15px;
  margin-left: 67px;
  margin-top: -20px;
}
.contact i {
  margin-left: 45px;
}
.form-box {
}
.form-box h4 {
  font-size: 25px;
}
.form-box input {
  margin-bottom: 20px;
  padding: 15px 100px 15px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgb(50, 255, 126);
  color: rgb(17, 17, 17);
  resize: none;
  margin-top: -22px;
}
.form-box textarea {
  margin-bottom: 20px;
  padding: 5px 20px 0px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #32ff7e;
  color: #111111;
  resize: vertical;
  margin-top: -13px;
}
input[type="submit"] {
  width: 80px;
  background-color: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 90px;
}
.social-icon ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-top: -15px;
}
.social-icon ul li {
  float: left;
  width: 120px;
  height: 25px;
  line-height: 30px;
  text-align: center;
  font-size: 50px;
  margin-left: 125px;
  margin-top: 50px;
}
.social-icon ul li a {
  text-decoration: none;
  color: #185adb;
  display: block;
  transition: 0.5ms;
}
.social-icon ul li a .fa-facebook-square:hover {
  color: #3b5998;
}
.social-icon ul li a .fa-twitter-square:hover {
  color: #00acee;
}
.social-icon ul li a .fa-yahoo:hover {
  color: #720e9e;
}
.social-icon ul li a .fa-linkedin:hover {
  color: #0e76a8;
}
.social-icon ul li a .fa-envelope:hover {
  color: #ea4335;
}
/**Footer**/
footer {
  margin-top: 10px;
}
footer p {
  text-align: center;
  font-size: 15px;
  line-height: 10px;
  font-style: italic;
}
footer a {
  text-decoration: none;
  color: #000000;
}
